<h2>{{title}}</h2>
<!--{{isDisabled}}-->

{{input type="texxt" value=pokemon class="form-control" placeholder="Search pokemon by id..." autofocus="autofocus"}}

{{pokemon}}

<!--
{{#if pokemon}}
 <div class="alert alert-success">{{pokemon}}</div>
{{/if}}
-->
{{yield}}
