<h2>{{title}}</h2>

{{#if pokemon.name}}
  <small>Hey, {{pokemon.name}}, I choose you ;)</small>
{{/if}}

<article class="">
  <h1 class="text-center">Details of your pokemon</h1>
  <div class="row">
    <div class="search">
      {{input type="text" value=search class="form-control" placeholder="Search pokemon by id..." autofocus="true"}}
    </div>
    <section class="row">
      <h6 class="text-center heart animated infinite no-padding no-margin text-color-pallet-3">Pokemon não encontrado</h6>
    </section>
  </div>
  <section>
    <div class="change-view-card cursor-pointer hover-grow">
      <p class="text-color-white font-pokemon-solid">ArtWork</p>
    </div>
    <div class="loading">
      <img class="pokeball-loading animated infinite" src="https://upload.wikimedia.org/wikipedia/en/3/39/Pokeball.PNG" alt="loading...">
    </div>
    <div class="choose-pokemon">
      <h1 class="text-center font-pokemon-solid text-color-gray-2">Chosse your pokemon</h1>
      <img class="character" src="static/ash.png" alt="Ash">
    </div>
    <div class="render-pokemon">
      <div class="row pokemon-name">
        <h1 class="roll text-color-pallet-4 animated text-center m-bottom20 font-pokemon-hollow">{{pokemon.name}}</h1>
      </div>
      <div class="row text-center pull-left pokemon-art">
        <picture>
          <img class="flipH animated width-40" src="${uriPokemonArt + pokemon.id + '.png'}" alt="pokemon-front">
        </picture>
      </div>
      <div class="row pull-left pokemon-card">
        <picture class="flipH animated text-center pull-left">
          <img class="width-100" src="${pokemon.sprites.front_default || './static/no-pokemon.jpg'}" alt="pokemon-front">
        </picture>
        <picture class="flipH animated text-center pull-right">
          <img class="width-100" src="${pokemon.sprites.back_default || './static/no-pokemon.jpg'}" alt="pokemon-back">
        </picture>
      </div>
      <div class="row text-center m-top10 pull-left">
        <h2><small>Type:</small> <i class="font-pokemon-hollow text-color-pallet-2">{{!pokemon.types[0].type.name}}</i></h2>
        <h2><small>Weight:</small> <i class="font-pokemon-hollow text-color-pallet-2">{{pokemon.weight}}</i></h2>
        <h2><small>Experience:</small> <i class="font-pokemon-hollow text-color-pallet-2">{{pokemon.base_experience}}</i></h2>
        <h2><small>Height:</small> <i class="font-pokemon-hollow text-color-pallet-2">{{pokemon.height}}</i></h2>
      </div>
    </div>
  </section>
</article>

{{yield}}
