<div class="row">
  <div class="col-md-6">
  {{log 'modelmodel' model}}
    {{list-pokemons title="List of Pokemons" pokemons=model}}
  </div>


  <div class="col-md-6">
    {{details-pokemon title="Pokemon Details"}}
  </div>
</div>
<!--
<div class="row">
  <div class="col-md-6">
    {{list-pokemons title="List of Pokemons" model=model pokemon=pokemon}}
  </div>


  <div class="col-md-6">
    {{details-pokemon title="Pokemon Details" model=model pokemon=pokemon}}
  </div>
</div>
-->
